<%= turbo_frame_tag "results" do %>
  <% if items.any? %>
    <% is_list_view = params[:view] == 'list' %>
    <% container_class = is_list_view ? 'flex flex-col gap-3' : 'grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8' %>

    <div class="<%= container_class %>">
      <% if is_list_view %>
        <%= render partial: 'media_items/list_item', collection: items, as: :media_item %>
      <% else %>
        <%= render partial: 'media_items/grid_item', collection: items, as: :media_item %>
      <% end %>
    </div>

    <div class="mt-12">
      <%== pagy_nav_tailwind(pagy_instance) %>
    </div>

  <% else %>
    <div class="rounded-lg px-6 py-16 bg-base-100 text-center shadow-md">
      <h3 class="text-xl font-semibold text-base-content"><%= empty_message %></h3>
      <p class="text-base-content/70 mt-2">Try adjusting your search or filter.</p>
    </div>
  <% end %>
<% end %>
