<%= form_with(model: media_item, class: "space-y-6") do |form| %>
  <% if media_item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(media_item.errors.count, "error") %> prohibited this media_item from being saved:</h2>

      <ul>
        <% media_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, class: "block text-sm font-medium leading-6 text-gray-900" %>
    <div class="mt-2">
      <%= form.text_field :title, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
    </div>
  </div>

  <div>
    <%= form.label :cover_image, class: "block text-sm font-medium leading-6 text-gray-900" %>
    <div class="mt-2">
      <%= form.file_field :cover_image, class: "block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-indigo-50 file:text-indigo-600 hover:file:bg-indigo-100" %>
    </div>
  </div>

  <div>
    <%= form.label :description, class: "block text-sm font-medium leading-6 text-gray-900" %>
    <div class="mt-2">
      <%= form.text_area :description, rows: 4, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
    <div>
      <%= form.label :status, class: "block text-sm font-medium leading-6 text-gray-900" %>
      <div class="mt-2">
        <%= form.select :status, ["Planning", "In Progress", "Completed", "On Hold", "Dropped"], { prompt: "Select a Status" }, { class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" } %>
      </div>
    </div>
  
    <div>
      <%= form.label :rating, "Rating (1-10)", class: "block text-sm font-medium leading-6 text-gray-900" %>
      <div class="mt-2">
        <%= form.number_field :rating, in: 1..10, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
    <div>
      <%= form.label :chapters_read, class: "block text-sm font-medium leading-6 text-gray-900" %>
      <div class="mt-2">
        <%= form.number_field :chapters_read, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
      </div>
    </div>
    <div>
      <%= form.label :total_chapters, class: "block text-sm font-medium leading-6 text-gray-900" %>
      <div class="mt-2">
        <%= form.number_field :total_chapters, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
      </div>
    </div>
  </div>

  <div>
    <%= form.label :category_id, class: "block text-sm font-medium leading-6 text-gray-900" %>
    <div class="mt-2">
      <%= form.collection_select :category_id, @categories, :id, :name, { prompt: "Select a Category" }, { class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"} %>
    </div>
  </div>

  <div class="flex justify-end">
    <%= form.submit class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 cursor-pointer" %>
  </div>
<% end %>
