<div id="<%= dom_id media_item %>">
  <p>
    <strong>Title:</strong>
    <%= media_item.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= media_item.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= media_item.status %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= media_item.rating %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= media_item.category_id %>
  </p>

</div>
