<% if user_signed_in? && current_user == @media_item.user %>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <div class="card lg:card-side bg-base-100 shadow-xl">
      
      <%= render(MediaItem::CoverImage::Component.new(media_item: @media_item, variant: { resize_to_fill: [800, 1200] })) %>
  
      <div class="card-body lg:w-2/3 flex flex-col">
        <div class="flex justify-between">
          <%= render(MediaItem::Header::Component.new(media_item: @media_item)) %>
          <%= render(MediaItem::NotesIcon::Component.new(media_item: @media_item)) %>
        </div>

        <div class="flex-grow py-6 space-y-6">
          <%= render(MediaItem::DetailedRatings::Component.new(media_item: @media_item)) %>
          <%= render(MediaItem::ChapterProgress::Component.new(media_item: @media_item)) %>
          <p class="text-base-content/80 leading-relaxed"><%= @media_item.description %></p>
        </div>
        
        <%= render(MediaItem::ActionBar::Component.new(media_item: @media_item)) %>
      </div>
    </div>
  </div>
  
  <dialog id="notes_modal" class="modal">
    <div class="modal-box w-11/12 max-w-4xl">
      <%= turbo_frame_tag "notes_content", src: media_item_notes_path(@media_item) %>
    </div>
    <form method="dialog" class="modal-backdrop"><button>close</button></form>
  </dialog>
<% end %>
