<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
  <h1 class="text-3xl font-bold text-base-content mb-2"><%= @thread.title %></h1>
  <p class="text-base-content/70 mb-8">A discussion started by <%= @thread.user.username %></p>

  <%= turbo_stream_from @thread %>

  <div id="<%= dom_id(@thread, :posts) %>" class="space-y-6">
    <%# This renders the initial posts that are already in the database %>
    <%= render @posts %>
  </div>

  <div class="mt-8"><%== pagy_nav(@pagy) %></div>

  <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box mt-12">
    <div class="collapse-title text-xl font-medium">Post a Reply</div>
    <div class="collapse-content">
      <%= form_with(model: [@thread, @new_post]) do |f| %>
        <div class="form-control">
          <%= f.rich_text_area :content, class: "textarea textarea-bordered h-48" %>
        </div>
        <div class="card-actions justify-end mt-4">
          <%= f.submit "Post Reply", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
