<!-- Desktop menu -->
<div class="flex-none hidden lg:flex ml-4">
  <% if user_signed_in? %>
    <%= link_to "My Collection", media_items_path, class: "btn btn-ghost" %>
    <%= link_to "My Favorites", favorites_media_items_path, class: "btn btn-ghost" %>
    <%= link_to "Dashboard", dashboard_path, class: "btn btn-ghost" %>
  <% end %>
  <%= link_to "Forum", forum_threads_path, class: "btn btn-ghost" %>
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to "Admin", admin_root_path, class: "btn btn-ghost text-error" %>
  <% end %>
</div>